@model ErrorViewModel
@{
    ViewData["Title"] = "Greška";
}

<h1 class="text-danger">Greška.</h1>
<h2 class="text-danger">Dogodila se greška tokom obrade vašeg zahteva.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID zahteva:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development režim</h3>
<p>
    Prebacivanje na <strong>Development</strong> okruženje će prikazati detaljnije informacije o grešci koja se dogodila.
</p>
<p>
    <strong>Development okruženje ne bi trebalo biti omogućeno za primenjene aplikacije.</strong>
    Može rezultovati prikazivanjem osetljivih informacija iz izuzetaka krajnjim korisnicima.
    Za lokalno otklanjanje grešaka, omogućite <strong>Development</strong> okruženje postavljanjem <strong>ASPNETCORE_ENVIRONMENT</strong> promenljive okruženja na <strong>Development</strong>
    i pokretanjem aplikacije ponovo.
</p>
