@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Generiraj kodove za oporavak dvofaktorske autentifikacije (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Stavite ove kodove na sigurno mesto.</strong>
    </p>
    <p>
        Ako izgubite uređaj i nemate kodove za oporavak, izgubićete pristup vašem nalogu.
    </p>
    <p>
        Generisanje novih kodova za oporavak ne menja ključeve korišćene u autentifikator aplikacijama. Ako želite da promenite ključ
        korišćen u autentifikator aplikaciji trebalo bi da <a asp-page="./ResetAuthenticator">resetujete vaše ključeve autentifikatora.</a>
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Generiraj Kodove za Oporavak</button>
    </form>
</div>
