@page
@model LockoutModel
@{
    ViewData["Title"] = "Nalog zaključan";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Ovaj nalog je zaključan, molimo pokušajte ponovo kasnije.</p>
</header>
